<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.polarsys.org/capella/core/cs/1.2.0">
         </package>
         <constraints
               categories="capella.category/design/completeness">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.DCOM_x1_x5"
                  id="org.polarsys.capella.core.data.cs.validation2.DCOM_x1"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcom_x1_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %dcom_x1_message
               </message>
               <description>
                  %dcom_x1_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.DCOM_x1_x5"
                  id="org.polarsys.capella.core.data.cs.validation2.DCOM_x5"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcom_x5_name"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  %dcom_x5_message
               </message>
               <description>
                  %dcom_x5_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.DCON_x1a"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x1a"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x1a_name"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x1a_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.DCON_x1b"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x1b"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x1b_name"
                  severity="ERROR"
                  statusCode="2">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
                  %dcon_x1b_description

               </description>
               <target
                     class="Component">
               </target>
            </constraint>
              <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.FE_FxP_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x2a"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x2a_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x2a_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
              <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.FE_FxP_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x2b"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x2b_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x2b_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
             <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.I_FE_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x3a"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x3a_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x3a_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
              <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.FE_I_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x3b"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x3b_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x3b_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
          <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.I_FE_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x4a"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x4a_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x4a_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
             <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.FE_I_ExchangeItemConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.DCON_x4b"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%dcon_x4b_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Placeholder. Message is created dynamically.
               </message>
               <description>
%dcon_x4b_description
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.polarsys.org/capella/core/fa/1.2.0">
         </package>
         <constraints
               categories="capella.category/design/completeness">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.ExchangePortNameConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.fxp_fe_name"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%fxp_fe_name_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %fxp_fe_name_message
               </message>
               <description>
                  %fxp_fe_name_description
               </description>
               <target
                     class="FunctionInputPort">
               </target>
               <target
                     class="FunctionOutputPort">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.ExchangePortNameConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.cp_ce_name"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%cp_ce_name_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %cp_ce_name_message
               </message>
               <description>
                  %cp_ce_name_description
               </description>
               <target
                     class="ComponentPort">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.AllocatedFxPImpliesInterfacingFE"
                  id="org.polarsys.capella.core.data.cs.validation2.allocatedFxPImpliesInterfacingExchange"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%allocatedfxpimpliesinterfacingexchange_name"
                  severity="ERROR"
                  statusCode="0">
               <message>
                  %allocatedfxpimpliesinterfacingexchange_message
               </message>
               <description>
                  %allocatedfxpimpliesinterfacingexchange_description
               </description>
               <target
                     class="FunctionPort"></target>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.polarsys.org/capella/core/cs/1.2.0">
         </package>
         <constraints
               categories="capella.category/design/completeness">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation2.ExchangePortNameConsistency"
                  id="org.polarsys.capella.core.data.cs.validation2.pp_pl_name"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%pp_pl_name_name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %pp_pl_name_message
               </message>
               <description>
                  %pp_pl_name_description
               </description>
               <target
                     class="PhysicalPort">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
            name="%menu_pullFxPEI2FE">
         <commandParameter
               id="mode"
               name="Mode"
               optional="false"
               values="org.polarsys.capella.core.data.cs.validation2.accel.PropagationModes">
         </commandParameter>
      </command>
      <command
            id="org.polarsys.capella.core.data.cs.validation2.pushFxPEI2FE"
            name="%menu_pushFxPEI2FE">
      </command>
      <command
            id="org.polarsys.capella.core.data.cs.validation2.removeFxPEINotOnFE"
            name="%menu_removeFxPEINotOnFE">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.core.data.cs.validation2.accel.PropagateFxP2FEHandler"
            commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE">
         <activeWhen>
            <reference
                  definitionId="org.polarsys.capella.core.data.cs.validation2.expressions.onlyFunctionalExchangesSelected">
            </reference></activeWhen>
      </handler>
      <handler
            class="org.polarsys.capella.core.data.cs.validation2.accel.AllocateAllExchangeItemsHandler"
            commandId="org.polarsys.capella.core.data.cs.validation2.pushFxPEI2FE">
         <activeWhen>
            <reference
                  definitionId="org.polarsys.capella.core.data.cs.validation2.expressions.onlyFunctionPortsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.polarsys.capella.core.data.cs.validation2.accel.RemoveFxPEINotOnFE"
            commandId="org.polarsys.capella.core.data.cs.validation2.removeFxPEINotOnFE">
         <activeWhen>
            <reference
                  definitionId="org.polarsys.capella.core.data.cs.validation2.expressions.onlyFunctionPortsSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.cs.validation2.ExchangeItemAllocationMarkerResolution"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:capella.project.explorer.menu.accelerator?after=additions">
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_union"
               style="push">
            <parameter
                  name="mode"
                  value="union">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_intersection"
               style="push">
            <parameter
                  name="mode"
                  value="intersection">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_select"
               style="push">
            <parameter
                  name="mode"
                  value="select">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pushFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.removeFxPEINotOnFE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:AcceleratorDiagramCommands">
            <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_union"
               style="push">
            <parameter
                  name="mode"
                  value="union">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_intersection"
               style="push">
            <parameter
                  name="mode"
                  value="intersection">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pullFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               label="%menu_pullFxPEI2FE_select"
               style="push">
            <parameter
                  name="mode"
                  value="select">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.pushFxPEI2FE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.data.cs.validation2.removeFxPEINotOnFE"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:capella.project.explorer#PopupMenu?after=group.accelerator">
         <menu
               id="capella.project.explorer.menu.accelerator"
               label="Modeling Accelerators">
            <separator
                  name="groupAccelerator">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=group.accelerator">
         <menu
               id="AcceleratorDiagramCommands"
               label="Modeling Accelerators">
            <separator
                  name="groupAccelerator">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.data.cs.validation2.expressions.onlyFunctionPortsSelected">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.polarsys.capella.common.data.modellingcore.ModelElement">
               <instanceof
                     value="org.polarsys.capella.core.data.fa.FunctionPort">
               </instanceof>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="org.polarsys.capella.core.data.cs.validation2.expressions.onlyFunctionalExchangesSelected">
         <iterate
               operator="and">
            <adapt
                  type="org.polarsys.capella.common.data.modellingcore.ModelElement">
               <instanceof
                     value="org.polarsys.capella.core.data.fa.FunctionalExchange">
               </instanceof>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart"
            class="org.polarsys.capella.core.data.cs.validation2.IDiagramElementEditPartAdapterFactory">
         <adapter
               type="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.validation.traversal">
      <traversalStrategy
            class="org.polarsys.capella.core.data.cs.validation2.ProtoTraversalStrategy"
            namespaceUri="http://www.polarsys.org/capella/core/modeller/1.2.0">
         <eclass
               name="Project">
         </eclass>
         <eclass
               name="Library">
         </eclass>
      </traversalStrategy>
   </extension>
   
</plugin>
